body p{
	columns: green;
}

body{
	background-color: black;
	color: white !important; /*OBLIGA A QUE ESTE COLOR TENGA
	PRIORIDAD Y NO CAMBIE EL COLOR DEL BODY*/
	font-family: Verdana;
}

h1 {
	font-family: Arial;
}

a {
	color: inherit;
}

div{
	margin-top: 10px;
	margin-left: 20px;
}

body{
	color: red; /*TODOS LOS TEXTOS DEL URL SON ROJOS, LO
				    APLICA EN CASCADA*/
}

/*CAMBIAR EL COLOR PARA EL PARRAFO POR MEDIO DE UN ID, TIENE MAS PRIORIDAD*/
#letra{
	color: blue;
}